* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #000;
}

#tv {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}

#tv div[data-player]{
    width: 100% !important;
    height: 100% !important;
}

.media-control.live{
    opacity:0 !important;
}

.glass {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 999;
}

#clip {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}